/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Niramit:500,700");

.App-logo {
  font-family: "Niramit", sans-serif;
  letter-spacing: 0.3em;
  line-height: 2.5em;
  padding-bottom: 0.3em;
  padding-left: 1em;
  margin-bottom: 1em;
  margin-top: 0;
}

.App-header {
  background-color: #95c5ec;
}

.App-header a {
  text-decoration: none;
  color: black;
}

button {
  text-transform: uppercase;
  background-color: pink;
  border: none;
  /* border-radius: 50%; /*round*/
  border-radius: 8px;
  padding: 0.5em;
  margin: 0.3em;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
}

.create-form {
  margin: 10px;
  border: 2px solid #95c5ec;
  padding-left: 15px;
  padding-bottom: 15px;
}

input {
  display: block;
  color: gray;
  margin-bottom: 10px;
  width: 200px;
}

.edit-input {
  display: inline;
  margin-left: 0 auto;
  margin-right: 0 auto;
}
